{% extends 'plantilla.html' %}

{% block content %}
    <style>
        .google-font-form {
            font-family: 'Chakra Petch', sans-serif;
        }
        .google-font-form strong {
            font-weight: bold;
        }
        .title-margin {
            margin-top: 15px; /* Espacio superior */
            font-size: 1.8em; /* Tamaño del título */
        }
    </style>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary google-font-form">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h5 class="text-center google-font-form title-margin"><strong>Médico tratante:</strong></h5>

    <form class="w-50 shadow mx-auto p-4 m-3 google-font-form" method="post" action="medicos/guardar">
        {% csrf_token %}
         <strong>Nombre:</strong> <input type="text" name="nombre" class="form-control my-2 google-font-form" required>
     
         <strong>Número de colegiado:</strong> <input type="number" name="número_de_colegiado" class="form-control my-2 google-font-form" required>
         
         <strong>Especialidad:</strong> <input type="text" name="especialidad" class="form-control my-2 google-font-form" required>
 
         <strong>Diagnóstico:</strong> <input type="text" name="diagnóstico" class="form-control my-2 google-font-form" required>
 
         <input type="submit" value="Agregar" class="btn btn-info google-font-form">
 
     </form>
{% endblock %}
