{% extends 'plantilla.html' %}

{% block content %}
    <style>
        .google-font-form {
            font-family: 'Chakra Petch', sans-serif;
        }
        .google-font-form strong {
            font-weight: bold;
        }
        .title-margin {
            margin-top: 15px; /* Espacio superior */
            font-size: 1.8em; /* Tamaño del título */
        }
    </style>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary google-font-form">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2 class="text-center google-font-form title-margin"><strong>Paciente:</strong></h2>

    <form class="w-50 shadow mx-auto p-4 m-3 google-font-form" method="post" action="pacientes/guardar">
        {% csrf_token %}
        <b>Nombre:</b> <input type="text" name="nombre" class="form-control my-2 google-font-form" required>
    
        <b>DPI:</b> <input type="number" name="dpi" class="form-control my-2 google-font-form" required>
        
        <b>Fecha de nacimiento:</b> <input type="text" name="fecha_de_nacimiento" class="form-control my-2 google-font-form" required>

        <b>Dirección:</b> <input type="text" name="dirección" class="form-control my-2 google-font-form" required>

        <b>Razón de su visita:</b> <input type="text" name="razón_de_su_visita" class="form-control my-2 google-font-form" required>

        <b>Receta médica:</b> <input type="text" name="receta_médica" class="form-control my-2 google-font-form" required>
        
        <b>Número telefónico:</b> <input type="number" name="número_telefónico" class="form-control my-2 google-font-form" required>

        <input type="submit" value="Agregar" class="btn btn-info google-font-form">
    </form>
{% endblock %}
